table{
  border-collapse: collapse;
}
td,th{
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.viewApplication{
  padding:10px 0;
  margin: 0;
  
}

.viewApplication:hover{
  text-decoration: underline;
  cursor:pointer;

}